#task {
    background-color: lighten($secondary, 30%);
    .container {
        background-color: $custom;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px; 
        position: relative;
      }
      .block1 {
          width: 33.33%;
          min-height: 300px;
          background-image: url(http://placekitten.com/g/600/400);
          background-size: cover;
      }
      .block2 {
        width: 66.66%; 
        padding-left: 20px; 
      }
      .close  {
          border-radius: 50%;
          background-color: white;
          position: absolute;
          padding: 5px;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 0px;
          top: 0px;
          transform: translate(50%, -50%);
      }
      @media (max-width: 960px) {
          .block1, .block2 {
              width: 100%;
          }
          .container {
              flex-direction: column;
          }
      }
}